
.footer{
	background: #333333;
	padding: 75px 30px;
	margin-top: 0px;}
.footTitle{
	height: 76px;
	font-weight: bold;
	font-size: 30px;
	line-height: 38px;
	color: #E0E0E0;}
.footPhones{
	margin-top: 10px;
	height: 402px;
	  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
	flex-direction: column;
	justify-content: space-around;}
.footPhones a:hover {color: #FFDB2D;}
.footMenu{
	margin-top: 10px;
	display: inline;
	float: left;
	width: 230px;
	height: 160px;}
.footMenu p{
	margin-top: 0px;
	margin-bottom: 20px;}	
.footMenu a{
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	color: #FFFFFF;}
.footMenu a:hover {color: #FFDB2D;}
.footAddress{
	display: inline;
	float: left;
	width: 330px;
	height: 160px;	}
.footPhones_item{height: 50px;}
.footPhones_item p{
	margin: 0 0 8px 0;
	font-size: 16px;
	line-height: 20px;
	color: #E0E0E0;}
.footPhones_item a{
	font-size: 16px;
	line-height: 130%;
	color: #FFFFFF;}
.footItem_phone2{margin-left: 40px;}
.footAddress p{
	font-weight: 500;
	font-size: 16px;
	line-height: 130%;
	color: #FFFFFF;	}
.footAddress p a{
	font-weight: 500;
	font-size: 16px;
	line-height: 130%;
	color: #FFFFFF;	}
.footer_info{
	display: inline;
	float: left;
	width: 565px;
	height: 643px;}
.footer_map{
	display: inline;
	float: left;
	width: 795px;
	height: 643px;
	margin-left: 20px;
	border: 2px solid #828282;
	border-radius: 12px;}
.footer_map iframe{
	border: 2px solid #828282;
	border-radius: 12px;
	width: 100%;
	height: 100%;}
.copyRight{
	margin: 10px 30px;
	  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
	justify-content: space-between;}
.copyRight a:hover {color: #FFDB2D;}
